* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #6d00c7;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: 5px;
}

.app-wrapper {
  background-color: #fff;
  min-width: 250px;
  min-height: 550px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title {
  color: #6d00c7;
  text-align: center;
  margin: 80px 0px 40px 0px;
}

.name,
.email,
.password {
  margin: 20px;
  color: #969292;
  font-size: 16px;
}

.password {
  margin-bottom: 40px;
}

.input {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.submit {
  display: flex;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  padding: 10px 60px;
  background-color: #6d00c7;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

button:active {
  transform: translateY(2px);
}

.form-success {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: #6d00c7;
}